.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-color: #f1f1f1; */
  }
  
  .logo img{
    width: 100px;
    height: 40px;
  }
  

  .navigation {
    display: flex;
    align-items: center;
  }

  .signInLink{
    color:#31d5bd;
  }
  
  .navigation a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    margin-left: 10px;
  }
  .navigation-options {
   border: none;
   background-color: white;
   border-radius: 20px;
   padding: 5px 10px;
  }
  .active{
    border-color: #333;
   background-color: #68efdb;
   border-radius: 20px;
   padding: 5px 10px;
  }
  .active span {
    color: white;
  }
  .user {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .avatar img{
    width: 35px;
    height:35px;
  }
  
  .username {
    margin: 5px;
    padding: 5px;
    color:#31d5bd;
    background-color: white;
  }

  