.container {
    display: flex;
    max-width: 100%!important;
    margin: 0px!important;
  }
  
  .sidebar {
    width: 20%;
    background-color: white;
    height: 700px;
  }
  
  .sidebar-item {
    padding: 10px;
    cursor: pointer;
    margin: 10px;
  }
  
  .sidebar-item.active {
    background-color: #efe9ff;
    color: #6425fe;
    border-radius: 4px;
  }
  
  .content {
    flex: 1;
    height: 100%;
    padding: 20px;
  }
  